# .env.example
# ✅ PostgreSQL connection string
# Format: postgresql+asyncpg://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=example_url

# ✅ Gemini API key
GEMINI_API_KEY=example_key

# Deployed frontend url
FRONTEND_URL=url